:root {
  --header-height: 58px;
  --device-width: 400px;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 25px;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  background: #ffffff;

  width: 100%;
  font-size: large;
}

main {
  clear: both;
  position: relative;
}

nav {
  flex-wrap: wrap;

  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

menu {
  margin: 0;
}

ul {
  padding-left: 10px;
  width: 100%;
}

li {
  padding: 0px 5px;
}

.device-width {
  width: var(--device-width);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.block-1 {
  background-image: url(../images/banner.png);
  background-position: center;
  height: var(--device-width);
  color: aliceblue;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.white {
  color: aliceblue;
}

.p-10-7 {
  padding: 10px 7px 10px 7px;
}

.block-1 h1 {
  margin: 0px;
}

.w-1000 {
  width: 1000px;
}

.flex-center {
  justify-content: center;
}

.flex-inline {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}


.card {
  align-self: flex-start;
  padding: 2px;
  margin: 2px;
  font-family: Times, Times New Roman, Georgia, serif;
}
.card h2 {
  margin-top: 5px;
  margin-bottom: 0;
}

.moon-1 {
  width: 300px;
  height: 200px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.green {
  color: aquamarine;
  border-color: aquamarine;
}

.border-green {
  border-color: aquamarine;
}

.my-form {
  width: 400px;

  padding-top: 5px;

  font-size: small;

}

.my-form div {
  padding: 5px;
}

.my-form fieldset {
  margin-bottom: 15px;
  font-size: larger !important;
}

.simple-button {
  border-style: double;
  background-color: inherit;
  border-radius: 5px;
  font-size: 16px;
  padding: 7px 17px 7px 17px;
}

.form-element {
  display: flex;
  justify-content: space-between;

}

.form-element input {
  max-width: 150px;
  width: 150px;
}

.form-element select {
  max-width: 150px;
  width: 150px;
}