:root {
  --header-height: 58px;
  --device-width: 400px;
  --content-width: 1000px;
}

body {
  margin: 0;

  letter-spacing: 0.2px;

  display: flex;
  flex-direction: column;

  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #303846;
  font-size: 16px;
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  background: #ffffff;

  width: 100%;
  font-size: large;
  z-index: 1000;
}

main {
  clear: both;
  position: relative;
}

nav {
  flex-wrap: wrap;
  font-size: 18px;

  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

nav p {
  margin-left: 10px;
}
nav a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;

  font-weight: 500;
}
a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

.menu {
  margin: 0;
}

.menu a {
  margin-left: 20px;
}

h1 {
  font-size: 40px;
}

ul {
  padding-left: 10px;
  width: 100%;
}

li {
  padding: 0px 5px;
}

footer {
  display: flex;
  justify-content: space-evenly;

  color: white;
  background: #303846;
}
footer p {
  padding-left: 5px;
}
footer > div {
  margin-top: 50px;
  margin-bottom: 50px;
}
footer ul {
  margin-left: 40px;
}

.device-width {
  width: var(--device-width);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.welcome {
  background-image: url(../images/banner.png);
  background-position: center;
  height: var(--device-width);
  color: aliceblue;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome h1 {
  margin: 0px;
}

.welcome p {
  font-weight: 600;
  margin-top: 0;
  padding-bottom: 15px;
}

.white {
  color: aliceblue;
}

.p-10-7 {
  padding: 10px 7px 10px 7px;
}

.block-1 h1 {
  margin: 0px;
}

.content-width {
  width: var(--content-width);
}

.flex-center {
  justify-content: center;
}

.flex-inline {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.card {
  align-self: flex-start;
  flex-basis: 500px;
  padding: 2px;
  margin: 2px;
  font-family: Times, Times New Roman, Georgia, serif;
  font-size: 17px;
}
.card h2 {
  margin-top: 5px;
  margin-bottom: 0;
}
.card-small {
  flex-basis: 300px;
  font-size: 17px;
}

#advantages h2 {
  margin-bottom: 0;
}
#advantages p {
  margin-top: 5px;
}

#about {
  background: #f7f7f7;
}

#to-book {
  margin: 0;
  padding-top: 10px;
  background: #f7f7f7;

  font-weight: 500;
}

#to-book h2 {
  font-size: 30px;
}


.moon-1 {
  width: 300px;
  height: 200px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.green {
  color: green;
}

.aquamarine {
  color: aquamarine;
  border-color: aquamarine;
}

.border-green {
  border-color: aquamarine;
}

.my-form {
  width: 400px;

  padding-top: 5px;

  font-size: small;

}

.my-form div {
  padding: 5px;
}

.my-form fieldset {
  margin-bottom: 15px;
  font-size: larger !important;
}

.simple-button {
  border-style: double;
  background-color: inherit;
  border-radius: 5px;
  border: 2px solid;
  font-size: 18px;
  padding: 7px 17px 7px 17px;

  text-decoration: none;
}

.form-element {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

fieldset div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-element input {
  max-width: 150px;
  width: 150px;
  height: 15px;

  border: 1px solid #ebebeb;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
}

.form-element select {
  max-width: 150px;
  width: 125px;

  margin-right: 35px;
  border-radius: 5px;
  line-height: 30px;
  background-color: #ffffff;
}

.text-medium {
  font-size: 18px;
  font-weight: 500;
}
.text-small {
  font-size: 14px;
}

.m-0 {
  margin: 0;
}